# Occupation

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep="|")
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [3]:
grp = users.groupby("occupation")
grp["age"].mean().sort_values(ascending=False)

# sort_index(ascending=False)

occupation
retired          63.071429
doctor           43.571429
educator         42.010526
healthcare       41.562500
librarian        40.000000
administrator    38.746835
executive        38.718750
marketing        37.615385
lawyer           36.750000
engineer         36.388060
writer           36.311111
salesman         35.666667
scientist        35.548387
other            34.523810
technician       33.148148
programmer       33.121212
homemaker        32.571429
artist           31.392857
entertainment    29.222222
none             26.555556
student          22.081633
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [6]:
occupation = users.groupby("occupation")['gender'].count()

In [7]:
occupation.head(3)

occupation
administrator    79
artist           28
doctor            7
Name: gender, dtype: int64

In [16]:
# # Doubt
males=users[users['gender']== 'M'].groupby("occupation")["gender"].count()/grp['gender'].count()

## grp by returns a object so normal operations dont work

In [11]:
males.head()

occupation
administrator    0.544304
artist           0.535714
doctor           1.000000
educator         0.726316
engineer         0.970149
Name: gender, dtype: float64

In [15]:
grp

### Step 6. For each occupation, calculate the minimum and maximum ages

In [31]:
grp["age"].agg(["min",'max']).head()

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70

### Step 7. For each combination of occupation and gender, calculate the mean age

In [18]:
males=users[users['gender']== 'M'].groupby("occupation")["age"].mean() 
males.head()

occupation
administrator    37.162791
artist           32.333333
doctor           43.571429
educator         43.101449
engineer         36.600000
Name: age, dtype: float64

In [20]:
females = users[users['gender']== 'F'].groupby("occupation")["age"].mean()
females.head()

occupation
administrator    40.638889
artist           30.307692
educator         39.115385
engineer         29.500000
entertainment    31.000000
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [22]:
males=(users[users['gender']== 'M'].groupby("occupation")["gender"].count()/grp['gender'].count())*100
males.head()

occupation
administrator     54.430380
artist            53.571429
doctor           100.000000
educator          72.631579
engineer          97.014925
Name: gender, dtype: float64

In [23]:
females=(users[users['gender']== 'F'].groupby("occupation")["gender"].count()/grp['gender'].count())*100
females.head()

occupation
administrator    45.569620
artist           46.428571
doctor                 NaN
educator         27.368421
engineer          2.985075
Name: gender, dtype: float64

70.6917833544989