In [2]:
names = ['Dhiraj','Ashish']
city = ['Manali','Dehradun']
college = ['DIT','SEU'] 

dict_var = {'name':names,'city':city,'college':college}

In [3]:
import pandas as pd

In [4]:
data = pd.DataFrame(dict_var) # to convert  #in pandas single column is called series # more than one column is called dataframe

In [5]:
# DataTypes : int64, float64, object, bool, Datetime 

data

     name      city college
0  Dhiraj    Manali     DIT
1  Ashish  Dehradun     SEU

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
name       2 non-null object
city       2 non-null object
college    2 non-null object
dtypes: object(3)
memory usage: 128.0+ bytes

In [8]:
data[['name','city']]

     name      city
0  Dhiraj    Manali
1  Ashish  Dehradun